---
import SubPage from "../layouts/SubPage.astro";
---

<SubPage title="Take Back Ontario - Home">
  <main>
    <h1>About</h1>
    <div class="main-content">
      <h2>What Is Take Back Ontario?</h2>

      <p>
        The mission of Take Back Ontario (TBO) is to restore accountability to
        our democratic system through education that results in engagement and
        action. Think of Take Back Ontario as an association of citizens focused
        on self-defense against governmental tyranny. TBO is not a centralized
        organization that dictates the thoughts and behaviours of its members,
        but rather an empowerment platform for distributed, democratic power.
        Founded by Xander Miller in 2023, Take Back Ontario is inspired by the
        successes and model of Take Back Alberta, led by David Parker. As such,
        David Parker serves as a consultant to Take Back Ontario and is often
        present at online meetings.
      </p>

      <h2>What are TBO’s values?</h2>

      <blockquote>
          “Truth, discipline and personal responsibility are the wellsprings of
          freedom. In order to not succumb to the tyranny of centralized
          government we must have the discipline and strength of character to
          govern ourselves in a decentralized manner.”
      </blockquote>
      <div style="text-align: right;">
        - Xander Miller, founder of Take Back Ontario
      </div>
      <p style="margin-top: 20px;">
        Take Back Ontario is not a political party, and is not primarily
        concerned with public policy. Rather, we are interested in educating and
        empowering local organizers in order to resuscitate our provincial
        democracy. The problems we see at the national and provincial levels are
        not the fault of our democratic system, but the fault of an apathetic
        and cynical citizenry. We aim to inspire participation in our democracy
        on a large scale and to enable leaders who believe in the good of
        democracy, truthful speech and courageous action to come forward. Once
        elected, we strive to hold those leaders accountable.
      </p>

      <p>
        Take Back Ontario does not require you to vote in a particular way,
        especially not against your conscience. It does not require exclusive
        loyalty; in fact, the more grassroots groups that we connect together,
        the better.
      </p>

      <p>
        Take Back Ontario is about reclaiming the provincial government for and
        by the people, restoring honourable governance, and championing
        individual freedoms inside a healthy democracy. Consequently, Take Back
        Ontario is antithetical to the communist and globalist influences in Canada and Ontario.
        We understand that centralized control structures have centralized
        weaknesses and tend to generate poverty and servitude.
      </p>

      <h2 class="text-xl text-red">
        What kind of people will I find in Take Back Ontario?
      </h2>

      <p>
        Members of Take Back Ontario are volunteers and come from a variety of
        backgrounds and philosophical positions. Some are religious, some are
        atheists. Some prioritize economic concerns, some prioritize social
        concerns. However, they all have in common the courage to work together,
        speak the truth and fight against tyrannical, centralized control
        structures that sidestep the will of the people. Many members of TBO
        value freedom, family, honesty and personal responsibility. They believe
        that it is worthwhile to protect and nourish the hard-won democracy
        bequeathed to us by our predecessors. If this sounds like you, join us
        at
        <a
          target="_blank"
          href="https://signup.takebackontario.ca"
          style="text-decoration: underline; color: #ff0000;"
          >signup.takebackontario.ca</a
        >
      </p>

      <h2 class="text-xl text-red">
        What are Take Back Ontario’s typical activities?
      </h2>
      <p>
        We are all about activating and empowering the grassroots of Ontario.
        Whether it’s a small gathering of like-minded friends in your garage or
        thousands in a ballroom. Take Back Ontario is a growing voice, speaking
        truth, for freedom. We aim to create a feedback loop of success and
        achievement, starting small and local, and building the momentum to be
        effective at the provincial level.
      </p>

      <span>We do this in the following ways:</span>
      <ul class="list-disc list-inside">
        <li>Empowering Ontarians to be proactive and engaged</li>
        <li>Fostering local leaders and providing a strategy for success</li>
        <li>Building a grassroots network of organizers</li>
        <li>Hosting weekly Zoom meetings for all members</li>
        <li>Providing educational speakers</li>
        <li>Discussing topical issues</li>
      </ul>

      <h2>Does it cost me anything to belong to TBO?</h2>
      <p>
        No, TBO does not charge membership fees or dues and is run by
        volunteers. There may be in-person events with ticket prices in the
        future, where ticket revenues will go toward expenses for venues,
        speakers, etc.. We do have some expenses related to technology, so
        donations are always appreciated. At this time TBO is not a registered
        charity, so no tax receipts can be given for donations.
      </p>
    </div>
  </main>
</SubPage>

<style>
  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 2rem;
    margin-left: 10%;
    padding: 0 1rem;
    border-left: 5px solid #ff0000;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  .main-content {
    margin-bottom: 2rem;
    padding: 5rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
</style>
