---
import SubPage from "../layouts/SubPage.astro";
---

<SubPage title="Take Back Ontario - Home">
  <main>
    <h1>Upcoming Events</h1>
    <div class="main-content">
      <h2>Weekly Zoom Meetings</h2>
      <p>
        Weekly Zoom meetings are held every Wednesday at 7:00pm. These meetings are hosted by TBO founder Xander Miller or a guest host.
        These meetings focus on growing the movement, with guidance from David Parker (from Take Back Alberta) and his longtime associates.
      </p>
      <p>
        Sign up at the "Join Us" link below to receive the Zoom link for these meetings.
      </p>
      <a class="btn my-8" href="https://signup.takebackontario.ca">Join Us</a>
      <h2>In-person Meetings</h2>

      <p>
        Stay tuned! As we collect a membership list with postal codes, we will be able to send introduction emails to members who are geographically close to one another.
        Members can then organize in-person meetings in their area.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
</style>
