---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import tboLogo from '../assets/tbo-logo.webp';


---

<Layout title="Take Back Ontario - About">
	<main>
		<Image src={tboLogo} alt="Take Back Ontario Logo" class="" />
		<h1 class="text-black my-10">IT’S YOUR PROVINCE. TAKE IT BACK.</h1>
		<p class="text-black">For too long, Ontario's rent seeking elite have taken advantage of everyday people, thriving on political apathy, censoring those with the courage to speak out, and exploiting the power of big government to restrict our freedoms.</p>
		<a class="btn my-8" href="/about">Learn More</a>
	</main>
</Layout>

<style>
	.btn {
		background-color: #ed2228;
		color: #fff;
		padding: 1rem 2rem;
		border-radius: 8px;
		font-size: 1.5rem;
		font-weight: 700;
		text-decoration: none;
		display: inline-block;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
