---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import tboLogo from '../assets/tbo-logo.webp';

---

<Layout title="Take Back Ontario - About">
	<main>
		<Image src={tboLogo} alt="Take Back Ontario Logo" class="" />
		<h1 class="text-black my-10">IT’S YOUR PROVINCE. TAKE IT BACK.</h1>
		<p class="text-black main-content">Ontario's managerial class has become unresponsive to the needs of everyday people because we stopped showing up. It's time for Ontarians to remember our strength and to remember the political power comes from our relationships. It's time for us to take back our institutions. It's time for Ontarians to Take Back Ontario.</p>
		<div class="buttons">
			<a class="btn my-8" href="/about">Learn&nbsp;More</a>
			<a class="btn my-8" href="/events">Events</a>
			<a class="btn my-8" href="/resources">Resources</a>
			<a class="btn my-8" href="https://signup.takebackontario.ca">Join&nbsp;Us</a>
		</div>
	</main>
</Layout>

<style>
	.buttons {
		display: flex;
		justify-content: space-around;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 1080px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
